[app]
name="ImmoLux"
version="1.0.0-alpha"

[server]
host = "localhost"
port = 8080
enable_pre_fork = false
origin="http://localhost:8080/"
spaFolder = "./build"

[logging]
server_log_level="TRACE"
database_log_level="TRACE"
log_dir="./logs"

[security]
jwt_secret = "your-super-secret-jwt-key-change-in-production-min-32-chars"
jwt_issuer = "immolux"
cookie_secure = false

[database]
host = "localhost"
port = 5432
username = "postgres"
password = "your_password_here"
db_name = "immolux"
ssl_mode = "disable"

max_idle_connections=50
max_open_connections=50
user_file_path = "configs/standardUserList.json"